.jumbotron {
    margin-bottom: 1.2rem;
    padding-top: 2em;
    padding-bottom: 2rem;
    background-color: #740001;
    color: white;
}

.image-board {
    max-width: 880px;
}

.image-bg {
    background-size: cover;
    background-position: top;
    height: 175px;
    border-radius: 5px;
}

.image-bg:hover {
    transform: scale(1.03);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border: 5px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.char {
    margin-bottom: 30px;
}

.message {
    min-height: 48px;
}

.hermione {
    background-image: url("../../images/hermione-granger.jpg");
}

.neville {
    background-image: url("../../images/neville-longbottom.jpg");
}

.malfoy {
    background-image: url("../../images/draco-malfoy.jpg");
}

.snape {
    background-image: url("../../images/snape.jpg");
}

.tonks {
    background-image: url("../../images/tonks.jpg");
}

.ron {
    background-image: url("../../images/ron-weasley.jpg");
}

.remus {
    background-image: url("../../images/remus-lupin.jpg");
}

.harry {
    background-image: url("../../images/harry-potter.jpg");
}

.luna {
    background-image: url("../../images/luna.jpg");
}

.mad-eye {
    background-image: url("../../images/mad-eye.jpg");
}

.dumbledore {
    background-image: url("../../images/dumbledore.jpg");
}

.fleur {
    background-image: url("../../images/fleur.jpg");
}